@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');


* {
	margin: 0;
	padding: 0;
	font-family: 'Roboto', sans-serif;
}



nav .nav__items .nav__item.active-nav::after {
	transform: scale(1);
	opacity: 1;
}




:root {
	--background-color: #f5f6fa;
	--text-color: #000;
	--textHover-color: rgb(107, 92, 92);
	--box-color: #fff;
}

body {
	color: var(--text-color);
	background-color: var(--background-color);
	z-index: -1000000;
}

a {
	text-decoration: none;
	color: var(--text-color);
}

body>header {
	position: fixed;
	top: 0;
	width: 100%;
	z-index: 10000;
}

nav {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: .5rem;
	transition: all .5s;
}

nav .nav__icon {
	font-size: 1.5rem;
	font-weight: 600;
	letter-spacing: 1px;
}

.blur {
	position: absolute;
	width: 0;
	height: 0;
	transition: all .3s;
	position: fixed;
	top: 50%;
	left: 50%;
	background-color: rgba(255, 255, 255, .8);
	transform: scaleZ(0) translate(-50%, -50%);
	transform-origin: center;
	z-index: 10000;
	transition: all .3s ease-in-out;
}

.blur.open {
	width: 100%;
	height: 100%;
	transform: scaleZ(1) translate(-50%, -50%);
}

nav .nav__icon {
	cursor: pointer;
	user-select: none;
}

nav .nav__items {
	display: flex;
	width: 50%;
	justify-content: space-around;
	align-items: center;
	z-index: 10000;
}

nav .nav__item {
	transition: all .3s;
	font-size: 1rem;
	cursor: pointer;
	user-select: none;
}

nav a {
	transition: all .3s;
}

nav a:hover {
	opacity: .6;
}

#dark-mode {
	cursor: pointer;
}

.menu-btn {
	position: relative;
	width: 80px;
	height: 80px;
	justify-content: center;
	align-items: center;
	transition: all .5s ease-in-out;
	display: none;
	cursor: pointer;
	z-index: 10000;
}

.menu-btn__hamburger {
	position: absolute;
	width: 60px;
	height: 6px;
	background: var(--text-color);
	border-radius: 10px;
	transition: all .5s ease-in-out;
}

.menu-btn__hamburger::before,
.menu-btn__hamburger::after {
	content: '';
	width: 60px;
	height: 6px;
	background: var(--text-color);
	border-radius: 10px;
	position: absolute;
	transition: all .5s ease-in-out;
}

.menu-btn__hamburger::before {
	transform: translateY(-16px);
}

.menu-btn__hamburger::after {
	transform: translateY(16px);
}

.menu-btn.open .menu-btn__hamburger {
	transform: translateX(-50px);
	background: transparent;
}

.menu-btn.open .menu-btn__hamburger::before {
	transform: rotate(45deg) translate(35px, -35px);
}

.menu-btn.open .menu-btn__hamburger::after {
	transform: rotate(-45deg) translate(35px, 35px);
}

nav .nav__item {
	position: relative;
	padding: .5rem;
}

nav .nav__item::after {
	content: '';
	width: 100%;
	height: 1px;
	background-color: #000;
	position: absolute;
	bottom: 0;
	left: 0;
	transform: scale(0);
	transition: all .3s;
}

nav .nav__item:hover::after {
	transform: scale(1);
}

nav .nav__item:hover::after {
	content: '';
	background-color: #000;
	height: 1px;
}

@keyframes fromCenter {
	to {
		transform: scale(1);
		opacity: 1;
	}
}

main main.content div.toTopBtn {
	position: fixed;
	right: 20px;
	bottom: 20px;
	width: 50px;
	height: 50px;
	border-radius: 50%;
	background-color: red;
	color: #fff;
	display: flex;
	justify-content: center;
	align-items: center;
	cursor: pointer;
	opacity: 0;
	transform: scale(0);
	transition: all .3s;
	z-index: 1000000000000;
}

main .header {
	width: 100%;
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
	position: relative;
	background: linear-gradient(129deg, rgba(149, 163, 156, 1) 0%, rgba(62, 212, 10, 1) 100%);
}

main .header h1 {
	width: 80%;
	text-align: center;
}

main .header div {
	display: flex;
	position: absolute;
	bottom: 1rem;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

main .header div .floating {
	margin: .3rem 0;
	animation: floatUpAndDown 1s ease infinite alternate;
	cursor: pointer;
}

@keyframes floatUpAndDown {
	0% {
		transform: translateY(-5px);
	}

	100% {
		transform: translateY(5px);
	}
}

main .skills>h1 {
	text-align: center;
	margin: 1rem 0;
}

main .skills {
	display: flex;
	/* flex-wrap: wrap; */
	flex-direction: column;
	align-items: center;
	height: 90%;
}

main .skills .row {
	text-align: center;
	height: 100%;
	margin: 1rem;
	background-color: #fff;
	border-radius: 5px;
	border: 1.5px solid #f1d2d2;
	padding: .5rem;
	flex: 1;
	width: 90%;
}

main .skills .row .wrapper {
	margin: 1rem;
	display: flex;
	flex-wrap: wrap;
}

main .skills .row .wrapper .skill {
	display: flex;
	width: 8rem;
	height: 8rem;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
	margin: 1rem;
	background-color: #f3f3f3;
	border-radius: 5px;
	padding: .5rem;
	border: 1.5px solid #f1d2d2;
	flex: 1;
}

main .skills .row .wrapper .skill img {
	width: 5rem;
	object-fit: contain;
	margin: auto;
}

main .about_me {
	width: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	padding: .2rem;
}

main .about_me .content {
	display: flex;
	width: 90%;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	padding: .5rem;
	background-color: #fff;
	text-align: center;
	border-radius: 5px;
	border: 1.5px solid #f1d2d2;
}

main .about_me .content img {
	margin-bottom: .5rem;
}

main .content {
	max-width: 80vw;
	margin: .5rem auto;
	overflow: hidden;
}

main .header-bf {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
}

main .header-bf::before,
main .header-bf::after {
	content: '';
	width: 100%;
	height: 2px;
	background-color: #000;
	flex: 1;
	margin: 0 .5rem;
}

main .projects {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	flex: 1;
	width: 100%;
	margin: 0 auto;
}

main .projects .filters-container {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	margin: 1rem 0;
}

main .projects .categories {
	display: flex;
	justify-content: center;
	align-items: center;
}

main .projects .categories .category {
	margin: 1rem 1rem;
	font-size: 1rem;
	padding: .5rem 1rem;
	border-radius: 5px;
	border: 1.5px solid #f1d2d2;
	cursor: pointer;
	outline: none;
}

main .projects .categories .category.active {
	background-color: #4ECB25;
}

main .projects .project {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	flex: 1;
	margin: .5rem auto;
	background-color: #fff;
	border: 1.5px solid #f1d2d2;
	width: 92%;
	border-radius: 5px;
	transition: all 0.3s;
}

main .projects .project>div>img {
	border: 1.5px solid #f1d2d2;
	width: 70%;
	height: 90%;
	object-fit: contain;
}

main .projects .project div.project_images {
	width: 80%;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

main .projects .project div.project_images {
	display: flex;
	justify-content: space-between;
	align-items: center;
}


main .projects .project div.project_images img {
	width: 70%;
	height: 20.85rem;
	object-fit: contain;
	margin: .5rem;
	border-radius: 5px;
	border: 1.5px solid #f1d2d2;
	border-radius: 5px;
}

main .projects .project div.project_images .side_images {
	height: 100%;
	width: 100%;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
}

main .projects .project div.project_images .side_images img {
	max-height: 4.7rem;
	cursor: pointer;
	height: 4.69rem;
}

main .projects .project>div:nth-child(2) {
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
}

main .projects .project>div:nth-child(2)>div {
	width: 70%;
	margin: .5rem auto;
}

main .projects .project>div:nth-child(2)>div ul {
	margin: .5rem 10%;
}

main .projects .project>div:nth-child(2)>div ul {
	margin: .5rem 10%;
}

main .projects .project>div:nth-child(2)>div .btns {
	margin: .5rem auto;
	display: flex;
	justify-content: center;
	align-items: center;
}

main .projects .project>div:nth-child(2)>div .btns button {
	outline: none;
	border: none;
	background: linear-gradient(129deg, rgba(149, 163, 156, 1) 0%, rgba(62, 212, 10, 1) 100%);
	margin: .5rem;
	padding: .8rem 1.5rem;
	border-radius: 2rem;
	font-size: 1.5rem;
	cursor: pointer;
}

footer {
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: #111;
	padding: 1rem 0;
}

footer span a i {
	margin: 0 1rem;
	font-size: 2rem;
	color: #fff;
}

@media only screen and (max-width: 770px) {
	main .projects .project div.project_images>img {
		margin: 1rem auto;
		height: 13.85rem;
	}

	main .projects .project div.project_images .side_images img {
		height: 3.69rem;
	}
}

@media only screen and (max-width: 600px) {
	nav .nav__items {
		position: fixed;
		top: 40%;
		left: 50%;
		transform: translate(-50%, -50%);
		flex-direction: column;
		height: 50%;
		outline: none;
		transform: scale(0);
		transition: .5s;
		height: 100%;
	}

	nav .nav__item {
		padding: 1rem;
		margin: 1rem;
		position: relative;
	}

	nav .nav__item:hover::after {
		width: 100%;
		opacity: 0;
		animation: fromCenter .3s ease-in-out forwards;
		position: absolute;
		bottom: 0;
		left: 0;
		transform: scale(0);
	}

	nav .nav__items.open {
		transform: scale(1);
		top: 50%;
		position: fixed;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		flex-direction: column;
		height: 50%;
	}

	.menu-btn {
		display: flex;
	}

	main .projects .project>div:nth-child(2)>div .btns {
		flex-direction: column;
	}

	main .projects .categories {
		flex-wrap: wrap;
	}

	main .projects .project div.project_images {
		flex-direction: column;
	}

	main .projects .project div.project_images>img {
		margin: 1rem auto;
		width: 13.79375rem;
		height: 8.2158125rem;
	}

	main .projects .project div.project_images .side_images {
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
		width: 100%;
	}

	main .projects .project div.project_images .side_images img {
		width: 80px;
		margin: .2rem auto;
	}
}